<h1>Bonjour {{ info.username }} et bienvenue chez Idéal !</h1>

<p>
   Veuillez cliquez sur le lien 
    <a href={{ url('confirm_account', {token: Token.confirmationToken , username: info.email})}}>ici</a> pour confirmer votre compte.
    Ce lien expirera dans {{ tokenLifetime|date('g') }} heure.
</p>
<p>
    Cheers !
</p>